
bluearchive*
.idea
shutils/pythonscripts/copy_wkshpdl.sh
__pycache__
shutils/pythonscripts/utils/pcftest.py

3466469748*

anime_sounds/og/*
left4sex2vpk/*
meowmeowpinktextures/modified/*
meowmeowpinktextures/og/*
meowmeowpinktextures/__og/*
meowmeowpinktextures/contrast/*
meowmeowpinktextures/png/*
meowmeowpinktextures/unused/*
meowmeowpinktextures/src/*
meowmeowpinktextures/oki/*
meowmeowpinktextures/meowmeowpinkdecals/materials/*
meowmeowpinktextures/meowmeowpinkmodels/materials/*
meowmeowpinktextures/meowmeowpinkvehicles/materials/*
meowmeowpinktextures/meowmeowpinkprops/materials/*
meowmeowpinktextures/meowmeowpinkprops_pt1/materials/*
meowmeowpinktextures/meowmeowpinkprops_pt2/materials/*
meowmeowpinktextures/meowmeowpinkprops_pt3/materials/*
meowmeowpinktextures/meowmeowpinkprops_pt4/materials/*
meowmeowpinktextures/meowmeowpinktextures.vpk
meowmeowpinktextures/meowmeowpinkdecals.vpk
meowmeowpinktextures/meowmeowpinkmodels.vpk
meowmeowpinktextures/meowmeowpinkprops.vpk
meowmeowpinktextures/meowmeowpinkprops_pt1.vpk
meowmeowpinktextures/meowmeowpinkprops_pt2.vpk
meowmeowpinktextures/meowmeowpinkprops_pt3.vpk
meowmeowpinktextures/meowmeowpinkprops_pt4.vpk
meowmeowpinktextures/_meowmeowpinktextures.vpk

meowmeowpinktextures/meowmeowpinkvehicles.vpk
meowmeowpinktextures.vpk

samekosabarochelle/*

2829210319_pink_material_textures_fixed.vpk
2829210319_pink_material_textures_fixed/src/addoninfo.txt
2829210319_pink_material_textures_fixed/src/materials/*

# touhou_infected_bodies/*
touhou_infected_bodies/2255725019_myl4d2addons_touhouzombies/*
touhou_infected_bodies/2840592147_myl4d2addons_prop gaming chair/*
touhou_infected_bodies/2840592147_myl4d2addons_prop gaming chair.vpk
touhou_infected_bodies/2255725019_myl4d2addons_touhouzombies.vpk

dark_souls_death_anim/*
dark_souls_death_anim.vpk


