
bluearchive*
.idea
shutils/pythonscripts/copy_wkshpdl.sh
__pycache__
shutils/pythonscripts/utils/pcftest.py

3466469748*

anime_sounds/og/*
left4sex2vpk/*
meowmeowpinktextures/modified/*
meowmeowpinktextures/og/*
meowmeowpinktextures/__og/*
meowmeowpinktextures/contrast/*
meowmeowpinktextures/png/*
meowmeowpinktextures/unused/*
meowmeowpinktextures/src/*
meowmeowpinktextures/oki/*
meowmeowpinktextures/meowmeowpinkdecals/materials/*
meowmeowpinktextures/meowmeowpinkmodels/materials/*
meowmeowpinktextures/meowmeowpinkvehicles/materials/*
meowmeowpinktextures/meowmeowpinkprops/materials/*
meowmeowpinktextures/meowmeowpinkprops_pt1/materials/*
meowmeowpinktextures/meowmeowpinkprops_pt2/materials/*
meowmeowpinktextures/meowmeowpinkprops_pt3/materials/*
meowmeowpinktextures/meowmeowpinkprops_pt4/materials/*
meowmeowpinktextures/meowmeowpinktextures.vpk
meowmeowpinktextures/meowmeowpinkdecals.vpk
meowmeowpinktextures/meowmeowpinkmodels.vpk
meowmeowpinktextures/meowmeowpinkprops.vpk
meowmeowpinktextures/meowmeowpinkprops_pt1.vpk
meowmeowpinktextures/meowmeowpinkprops_pt2.vpk
meowmeowpinktextures/meowmeowpinkprops_pt3.vpk
meowmeowpinktextures/meowmeowpinkprops_pt4.vpk
meowmeowpinktextures/_meowmeowpinktextures.vpk

meowmeowpinktextures/meowmeowpinkvehicles.vpk
meowmeowpinktextures.vpk

samekosabarochelle/*

2829210319_pink_material_textures_fixed.vpk
2829210319_pink_material_textures_fixed/src/addoninfo.txt
2829210319_pink_material_textures_fixed/src/materials/*

particle-stuff/452181672_machinima_bullet_tracers/*

# touhou_infected_bodies/*
touhou_infected_bodies/2255725019_myl4d2addons_touhouzombies/*
touhou_infected_bodies/2840592147_myl4d2addons_prop gaming chair/*
touhou_infected_bodies/2840592147_myl4d2addons_prop gaming chair.vpk
touhou_infected_bodies/2255725019_myl4d2addons_touhouzombies.vpk
touhou_infected_bodies.vpk

#dark_souls_death_anim/*
#dark_souls_death_anim.vpk
dark_souls_death_anim/1145754910_myl4d2addons_death_screen.vpk

miltankdeadcow/*
miltankdeadcow.vpk


cobsontankmod.vpk

canvas_integration/canvas_creds.json

bunnyhop_detect/3401924807_Enable Scripted Mode.vpk

uminekodeathsounds/1000 Chance for Withered Foxy Jumpscare Every Second.vpk
uminekodeathsounds/409447752_Windows XP Startup for Defib Resurrection.vpk


/anubis_ellis/1181149639_\[NEKOPARA\]Coconut For Coach
anubis_ellis/1181149639_\[NEKOPARA\]Coconut For Coach.vpk
/anubis_ellis/og
anubis_ellis/redo/2323763535_Gawr Gura | Rochelle.vpk
/anubis_ellis/redo/2323763535_Gawr GuraRochelle
/anubis_ellis/redo/og
mai_ellis.vpk
/mai_ellis
anubis_ellis/proportion_trick_script/
anubis_ellis/vrm-porting-guide-files/
/2255725019_myl4d2addons_touhouzombies_l4d1_fixed/og
2255725019_myl4d2addons_touhouzombies_l4d1_fixed.vpk
/anime_axe_high_fov/1111745079_Anime axe
/anime_axe_high_fov/334453410_\[Obsolete\] Fire Axe High-FoV Fix
/fixed_flandre_propane_tank
reisa_jockey_fix.vpk
/reisa_jockey_fix
remove_common_death_anims.vpk
/remove_common_death_anims
satono_diamond_smoker_fix.vpk
/satono_diamond_smoker_fix
/shrek_tank_anims_fix
/anubis_ellis/L4D2_Player_Extra_Files
